.artikleBox {
  box-sizing: border-box;
  width: 938px;
  background-color: white;
  display: flex;
  margin: 22px;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-between;
  box-shadow: 0 4px 12px 0 #00000026;
  border-radius: 5px;
  .checkLikes {
    opacity: 0;
    position: absolute;
  }
  .corsor {
    cursor: pointer;
  }
  .leftBlock {
    margin: 16px;
    margin-right: 0;
    width: 682px;
    .body {
      width: 880px;
    }
    .description {
      display: block;
      margin: 0;
      padding: 0;
      font-size: 12px;
      color: #000000bf;
    }
  }
  .rigthBlock {
    margin: 16px;
    margin-left: 0;
    display: flex;
    flex-direction: column;
    .rigthBlockTop {
      display: flex;
    }
    .rigthBlockBottom {
      display: flex;
      margin-top: 14px;
      margin-left: -5px;
      position: relative;
      .deleteAprovedBox::before {
        content: '';
        display: block;
        width: 16px;
        height: 16px;
        background-color: white;
        margin-left: -10px;
        position: absolute;
        z-index: -10;
        margin-left: -20px;
        margin-top: -3px;
        transform: rotate(135deg);
      }
      .deleteAprovedBox {
        box-sizing: border-box;
        width: 240px;
        height: 104px;
        position: absolute;
        z-index: 10;
        background-color: white;
        display: flex;
        flex-direction: column;
        padding-top: 12px;
        padding-bottom: 12px;
        padding-left: 16px;
        padding-right: 16px;
        box-shadow: 0 2px 8px 0 #00000026;
        border-radius: 4px;
        margin-left: 87px;
        margin-top: -2px;
        .deleteAprovedButtons {
          display: flex;
          flex-direction: row;
          justify-content: flex-end;
          .deleteAprovedNo {
            background: none;
            padding-left: 8px;
            padding-right: 8px;
            padding-top: 4px;
            padding-bottom: 4px;
            border: 1px solid #d9d9d9;
            border-radius: 4px;
            margin-right: 8px;
            color: #595959;
          }
          .deleteAprovedYes {
            border: none;
            background: none;
            padding-left: 8px;
            padding-right: 8px;
            padding-top: 4px;
            padding-bottom: 4px;
            border-radius: 4px;
            color: #ffffff;
            background-color: #1890ff;
          }
        }
        .deleteAprovedTitile {
          display: flex;
          flex-direction: row;
          align-items: flex-start;
          p {
            display: block;
            margin: 0;
            padding: 0;
            line-height: 22px;
            color: #595959;
          }
          img {
            display: block;
            margin: 0;
            padding: 0;
            margin-top: 4px;
            margin-right: 8px;
          }
        }
      }
      .delete {
        background: none;
        font-size: 14px;
        padding-top: 6px;
        padding-bottom: 6px;
        padding-left: 17px;
        padding-right: 17px;
        border: 1px solid #f5222d;
        color: #f5222d;
        border-radius: 5px;
        margin-right: 12px;
      }
      .add {
        background: none;
        font-size: 14px;
        padding-top: 6px;
        padding-bottom: 6px;
        padding-left: 17px;
        padding-right: 17px;
        border: 1px solid #52c41a;
        color: #52c41a;
        border-radius: 5px;
      }
    }
    .rigthBlockText {
      margin-right: 12px;
    }
    .username {
      display: block;
      margin: 0;
      padding: 0;
      font-size: 18px;
      text-transform: uppercase;
      margin-top: 7px;
    }
    .createdAt {
      display: block;
      margin: 0;
      padding: 0;
      font-size: 12px;
      color: #00000080;
    }
  }

  .tagBox {
    display: flex;
    margin-bottom: 16px;
    margin-top: 4px;
    .tagElem {
      margin: 0;
      padding: 0;
      display: block;
      padding-left: 6px;
      padding-right: 6px;
      padding-bottom: 1px;
      padding-top: 1px;
      color: #00000080;
      border: 1px solid #00000080;
      font-size: 12px;
      margin-right: 8px;
      border-radius: 2px;
    }
  }
  .titleBox {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 5px;
    .favoritesCount {
      display: block;
      margin: 0;
      padding: 0;
      font-size: 12px;
      color: #000000bf;
      margin-left: 2px;
    }
    .title {
      margin: 0;
      padding: 0;
      font-size: 20px;
      color: #1890ff;
      margin-right: 10px;
      display: block;
      text-decoration: none;
    }
    .heart {
      margin-right: 3px;
    }
  }
  .logo {
    width: 46px;
    height: 46px;
    object-fit: cover;
    border-radius: 100%;
  }
}
