.header_Box {
  display: flex;
  box-sizing: border-box;
  height: 80px;
  justify-content: space-between;
  background-color: white;
  align-items: center;
  .header_BoxTitle {
    margin-left: 22px;
    background: none;
    border: none;
    font-size: 18px;
    cursor: pointer;
  }
  .header_ButtonBox {
    display: flex;
    align-items: center;

    .CreateArticle {
      display: block;
      background-color: white;
      border: none;
      cursor: pointer;
      .CreateArticleText {
        color: #52c41a;
        padding: 3px 5px;
        border: 1px solid #52c41a;
        border-radius: 5px;
        margin-right: 10px;
      }
    }
    .header_ButtonBoxItemUP {
      margin-right: 20px;
      box-sizing: border-box;
      width: 109px;
      height: 50px;
      background-color: white;
      border: 1px solid #000000bf;
      border-radius: 5px;
      color: #000000bf;
      font-size: 18px;
      cursor: pointer;
    }
    .header_ButtonBoxItemProfile {
      margin-right: 20px;
      background-color: white;
      border: none;
      display: flex;
      flex-direction: row;
      align-items: center;
      cursor: pointer;
      p {
        font-size: 18px;
        font-weight: 400;
        color: #000000d9;
      }
      img {
        margin-left: 13px;
        width: 46px;
        height: 46px;
        border-radius: 100%;
      }
    }
  }
}
